*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(45deg, rgb(157, 156, 156), rgb(216, 214, 214));
}
h1{
    text-align: center;
    margin: 30px;
}
input{
    border-radius: 10px;
    height:50px;
    width: 25%;
    margin: 3.9%;
    text-align: center;
    border: 2px solid;
    box-shadow: 0 4px 8px 0

}
h3{
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 20px;
}
#button{
    display: inline-block;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 50px;
    padding: 40px;
    margin-left: 35%; 
    width: 30%;
    border-radius: 20px;
    border: solid 3px;
    height: 100px;
    
}
#segundostotais{
    margin-left: 10px;
}
